img.rotate6 {
    transform: rotate(90deg);
}

img.rotate3 {
    transform: rotate(180deg);
}

img.rotate8 {
    transform: rotate(270deg);
}

ul.media-list {
    list-style: none;
}

ul.media-list > li:nth-child(2n) {
    background-color: #f2f2f2;
}

div.media {
    overflow: hidden;
    display: inline-grid;
    grid-template-columns: minmax(120px, auto) 1fr 5fr;
}

div.media > img {
    padding-right: 1ex;
}

/*
div.media {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

div.media > img {
    min-height: 100%;
}

div.media > input[name='title'] {
    flex: 1 1 auto;
}

div.media > textarea[name='description'] {
    flex: 1 1 auto;
}
*/