<ul class="media-list">
    {% for media in medias %}
    <li>
        <div class="media" data-media_name="{{ media.name }}" data-media_path="{{ media.path }}">
            <img src="{{ media.image_url }}" class="rotate{{ media.exif['Image Orientation']|default('1') }}" max-width="320"/>
            <input type="text" name="title" placeholder="Titre" value="{{ media.metadata.title }}">
            <textarea name="description" placeholder="Description" class="media-description">
                {{- media.metadata.description -}}
            </textarea>
        </div>
    </li>
    {% endfor %}
</ul>