<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/simplemde.min.css') }}">
    <script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='fonts-font-awesome/css/font-awesome.min.css') }}">

    <script src="{{ url_for('static', filename='js/send_metadata.js') }}"></script>
  </head>
  <body>
    <div id="subdirectories">
    {% include 'subdirectories.html' %}
    </div>
    <div id="images">
    {% include 'images.html' %}
    </div>
    <script>
    /*
        for (textarea of document.getElementsByClassName('media-description')) {
            new SimpleMDE({
                //autoDownloadFontAwesome: false,
                element: textarea
            });
        }
    */
    </script>
  </body>
</html>
